/Build/
.DS_Store
*_extdep/
*.pyc
__pycache__/
tags/
.vscode/
*.bak
BuildConfig.conf

# Submodules
MU_BASECORE/

# Build conf
/Conf/

# UEFI Ext Build
UefiDbgExt/uefiext/
UefiDbgExt/x64/
UefiDbgExt/ARM64/
UefiDbgExt/.vs/
UefiDbgExt/uefiext.vcxproj.user
